<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.busapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusApp">
        <activity
            android:name=".new_function"
            android:exported="true" />
        <activity
            android:name=".ShowUsers"
            android:exported="true" />
        <activity
            android:name=".ShowTrans"
            android:exported="true" />
        <activity
            android:name=".Receipt"
            android:exported="true" />
        <activity
            android:name=".SearchResults"
            android:exported="true" />
        <activity
            android:name=".SearchUser"
            android:exported="true" />
        <activity
            android:name=".ShowBus"
            android:exported="true" />
        <activity
            android:name=".AddBus"
            android:exported="true" />
        <activity
            android:name=".ShowTrip"
            android:exported="true" />
        <activity
            android:name=".AddTrip"
            android:exported="true" />
        <activity
            android:name=".Admin"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>